<!-- 임시 로그인 페이지 -->
{% extends 'base.html' %} {% block content %} {% load static %}
<!-- css 파일 -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/accounts/login.css'%}"
/>

<div class="container">
  <div class="content">
    <h2 class="title">로그인</h2>
    <form id="login-form" action="{% url 'accounts:login' %}" method="POST">
      {% csrf_token %}

      <div class="login-input">
        <!-- username -->
        <input
          id="user-id"
          class="text-input"
          type="text"
          name="username"
          placeholder="아이디를 입력해주세요"
          required
        />
        <!-- password -->
        <input
          id="user-pass"
          class="text-input"
          type="password"
          name="password"
          placeholder="비밀번호를 입력해주세요"
          required
        />
      </div>

      <div class="find-info">
        <a href="#">아이디 찾기</a>
        <p>|</p>
        <a href="#">비밀번호 찾기</a>
      </div>

      <button class="submit-btn" type="submit">로그인</button>
    </form>
    <a href="{% url 'accounts:signup' %}">
      <button class="signup-btn">회원가입</button>
    </a>
  </div>
</div>

<!-- js 파일 -->
<script src="{% static 'js/accounts/login.js'%}"></script>
{% endblock %}
