/* main page - CSS */
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1050px;
  padding: 40px 30px;
  gap: 16px 83px;
  border: 1px solid #e2e2e2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu-page {
  width: 180px;
  font-size: 14px;
  color: #333333;
}

.menu-page:hover {
  color: #5e0080;
}

.active {
  color: #5e0080;
}

.section {
  display: flex;
}
